<!DOCTYPE html>
<html>
<head>
  <title>Olympics</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style></style>
  </head>
  <body>
    <div>
    <nav class="red lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Comments</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html"><i class="material-icons">home</i></a>
        <li><a href="gold.html">Gold</a></li>
        <li><a href="silver.html">Silver</a></li>
        <li><a href="bronze.html">Bronze</a></li>
        <li><a href="#">Comments</a></li>

      </ul>
      </div>
  </nav>
</div>

  <ul class="side-nav" id="mobile-demo">

    <li><a href="gold.html">Gold</a></li>
        <li><a href="silver.html">Silver</a></li>
        <li><a href="bronze.html">Bronze</a></li>
        <li><a href="#">Comments</a></li>
      </ul>
      <br><br>

        <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Comments</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
        





   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script>
   $(document).ready(function(){
  	$(".button-collapse").sideNav({closeOnClick: true});
    $('#modal1').modal();
   
  });
 </script>



</body>
</html>
