
<!DOCTYPE html>
<html>
<head>
  <title>Olympics</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style>
  h3 {
    text-shadow: 2px 2px black;
  }

</style>
<body>
     <audio autoplay>
  <source src="../public/assets/images/song.mp3" type="audio/mpeg">
</audio>
 <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="../public/assets/images/flag.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="yellow-text accent-1">Olympics Medal Tracker</h3>
          <h5 class="black-text">Winter Olympics 2018</h5>
        </div>
      </li>
      <li>
        <img src="../public/assets/images/skier.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="yellow-text accent-3">Gold</h3>
          
        </div>
      </li>
      <li>
        <img src="../public/assets/images/skaters.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="grey-text">Silver</h3>
          
        </div>
      </li>
      <li>
        <img src="../public/assets/images/sledder.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="orange-text">Bronze</h3>
          
        </div>
      </li>
    </ul>
     <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">search</i>
    </a>
    <ul>
      <li><a class="btn-floating yellow accent-2" href="gold.html"><i class="material-icons">ac_unit</i></a></li>
      <li><a class="btn-floating grey" href="silver.html"><i class="material-icons">ac_unit</i></a></li>
      <li><a class="btn-floating orange" href="bronze.html"><i class="material-icons">ac_unit</i></a></li>
      
    </ul>
  </div>
  </div>

</body>











<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script>
   $(document).ready(function(){
    $('.slider').slider();
    // Pause slider
$('.slider').slider('pause');
// Start slider
$('.slider').slider('start');
// Next slide
$('.slider').slider('next');
// Previous slide
$('.slider').slider('prev');
   
    });
  </script>



</body>
</html>