<div>
  <nav class="red lighten-1">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">Comments</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/"><i class="material-icons">home</i></a>
          <li><a href="/gold">Gold</a></li>
          <li><a href="/silver">Silver</a></li>
          <li><a href="/bronze">Bronze</a></li>
          <li><a href="#">Comments</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="/"><i class="material-icons">home</i></a>
    <li><a href="/gold">Gold</a></li>
    <li><a href="/silver">Silver</a></li>
    <li><a href="/bronze">Bronze</a></li>
    <li><a href="#">Comments</a></li>
  </ul>
  <br><br>

<div class="container">
  <div class="row">
    <form class="col s9">
      <div class="input-field">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2 message" class="materialize-textarea" name="comment"></textarea>
          <label for="icon_prefix2">Comments</label>
      </div>
    </form>

    <div class="col s3" valign-wrapper pull-right">
      <div class="row">
      </div>
      <div class="row">
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col s12">
      <h4>Previous comments</h4>
      <div class="comments">
        <ol class="list-group">
          {{#each Message}}
            <div>
            <li><p>{{Message}}</p>
            <p> This comment was created on {{createdAt}} </p>
            </li></div>
          {{/each}}
      </div>
    </div>
  </div>
</div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script>
   $(document).ready(function(){
    $(".button-collapse").sideNav({closeOnClick: true});
    $('#modal1').modal();

    $(".submit").click(function(event){
      var comment = $(".materialize-textarea").val();
      console.log("message: " + comment);
      var add = {
        Message: comment
      };

        $.ajax("/comments", {
            type: "POST",
            data: add
        }).then(function() {
              console.log("Added a comment");
              location.reload();
            }
        );
    })
  });
 </script>