<!DOCTYPE html>
<html>
<head>
  <title>Olympics</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style></style>
  </head>
  <body>
    <div>
    <nav class="red lighten-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Comments</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a>
        <li><a href="/gold">Gold</a></li>
        <li><a href="/silver">Silver</a></li>
        <li><a href="/bronze">Bronze</a></li>
        <li><a href="#">Comments</a></li>

      </ul>
      </div>
  </nav>
</div>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="/"><i class="material-icons">home</i></a>
    <li><a href="/gold">Gold</a></li>
        <li><a href="/silver">Silver</a></li>
        <li><a href="/bronze">Bronze</a></li>
        <li><a href="#">Comments</a></li>
      </ul>
      <br><br>

        <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2 message" class="materialize-textarea" name="comment"></textarea>
          <label for="icon_prefix2">Comments</label>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <button class="btn waves-effect waves-light submit" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>

<div class="row">
  <h4>Previous comments</h4>
  <div class="comments"><!--Dynamically generate comments in database here --></div>
</div>
        





 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
 <script>
   $(document).ready(function(){
  	$(".button-collapse").sideNav({closeOnClick: true});
    $('#modal1').modal();

    $(".submit").click(function(event){
      var comment = $(".materialize-textarea").val();
      console.log("message: " + comment);
      var add = {
        Message: comment
      };

        $.ajax("/comments", {
            type: "POST",
            data: add
        }).then(function() {
              console.log("Added a comment");
              location.reload();
            }
        );
    })
  });
 </script>



</body>
</html>
