<!DOCTYPE html>
<html>
<head>
  <title>Olympics</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<style>
#goldMap, #silverMap, #bronzeMap, .container {
  height: 100%;
  width: 100%;
  position: relative;
  margin: auto;
}
/* Optional: Makes the sample page fill the window. */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

</style>

</head>
<body>

<div>
  <nav class="yellow accent-4">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo">Gold Medals</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/"><i class="material-icons">home</i></a></li>
          <li><a href="#">Gold</a></li>
          <li><a href="/silver">Silver</a></li>
          <li><a href="/bronze">Bronze</a></li>
          <li><a href="/comments">Comments</a></li>
        </ul>
    	</div>
	</nav>
</div>

<ul class="side-nav" id="mobile-demo">
  <li><a href="/"><i class="material-icons">home</i></a>
	<li><a href="#">Gold</a></li>
  <li><a href="/silver">Silver</a></li>
  <li><a href="/bronze">Bronze</a></li>
</ul>

<br><br>

<div class="container">
  <div id="goldMap">
  </div>
</div>

  <!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="country"></h4>
    <p>Gold Medals: <span class="medalcount"></span></p>
    <table style="width:50%; padding:0">
      <thead>
        <tr>
          <th>Sport</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody class ="sport">
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>







<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
  	$(".button-collapse").sideNav({closeOnClick: true});
    $('#modal1').modal();
  });
 </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8moShpHaj8B7H9sTLMcayMf8J4RzzSE4&callback=initMap"
  async defer></script>

<script src="../public/assets/javascript/gold.js"> </script>

</body>
</html>